@use "../variables.scss" as *;

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
  background-color: $white;
}

.header__logo {
  position: absolute;
  grid-area: 1/1/2/2;
  justify-self: center;
  z-index: 1;
}
