@use "../variables.scss" as *;

.presentaion {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px 48px;
  }
}

.presentaion__title {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 0.86;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.presentaion__description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-gray;
  text-transform: uppercase;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 92px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}
